<nav class="navbar navbar-expand-lg shadow-sm d-flex justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="{{ path('user_home_page') }}" id="logo-a">
            <img src="{{ asset('img/logo.png') }}" alt="Logo" id="logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item px-4">
                        <a class="nav-link {% if app.request.get('_route') == 'user_shop_page' %}active{% endif %}"
                           href="{{ path('user_shop_page') }}">Shop</a>
                    </li>
                {% endif %}

                <li class="nav-item px-4">
                    <a class="nav-link {% if app.request.get('_route') == 'user_blog_page' %}active{% endif %}"
                       href="{{ path('user_blog_page') }}">Blog</a>
                </li>

                <li class="nav-item px-4">
                    <a class="nav-link {% if app.request.get('_route') == 'user_about_page' %}active{% endif %}"
                       href="{{ path('user_about_page') }}">About</a>
                </li>

                {% if app.user %}
                    <li class="nav-item px-4">
                        <a class="nav-link {% if app.request.get('_route') == 'user_contact_page' %}active{% endif %}"
                           href="{{ path('user_contact_page') }}">Contact</a>
                    </li>

                    <li class="nav-item px-4 d-flex align-items-center">
                        <a class="nav-link d-flex align-items-center {% if app.request.get('_route') == 'user_cart_page' %}active{% endif %}"
                           href="{{ path('user_cart_page') }}">
                            <i class="fa-solid fa-cart-shopping fa-lg me-1"></i>
                            <span class="badge bg-success" id="badge" style="font-size: 0.7rem;">
                                    {{ cartBadgeValue() }}
                            </span>
                        </a>
                    </li>


                {% endif %}

                <!-- Dropdown -->
                <li class="nav-item dropdown px-4">
                    <a class="nav-link dropdown-toggle {% if app.request.get('_route') == 'user_info' %}active{% endif %}"
                       href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user-tie"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        {% if not app.user %}
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">LogIn</a></li>
                        {% endif %}

                        {% if app.user %}
                            <li><a class="dropdown-item" href="{{ path('user_info') }}">User Profile</a></li>
                            <li><a class="dropdown-item" href="#">User Details</a></li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('admin_dashboard') }}">Admin Panel</a></li>
                            {% endif %}

                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

