{{ form_start(form) }}

<div class="row g-4">
    <div class="col-md-6">
        <label class="form-label fw-semibold text-secondary">Brand Name</label>
        {{ form_widget(form.brandName, {'attr': {'class': 'form-control rounded-3 shadow-sm', 'placeholder': 'Product Name'}}) }}
    </div>

    <div class="col-md-6">
        <label class="form-label fw-semibold text-secondary">Product Name</label>
        {{ form_widget(form.productName, {'attr': {'class': 'form-control rounded-3 shadow-sm', 'placeholder': 'Product Name'}}) }}
    </div>

    <div class="col-md-6">
        <label class="form-label fw-semibold text-secondary">Product Type</label>
        {{ form_widget(form.productType, {'attr': {'class': 'form-control rounded-3 shadow-sm', 'placeholder': 'Product Type New/Old'}}) }}
    </div>

    <div class="col-md-6">
        <label class="form-label fw-semibold text-secondary">Price</label>
        {{ form_widget(form.price, {'attr': {'class': 'form-control rounded-3 shadow-sm', 'placeholder': 'Product Price'}}) }}
    </div>

    <div class="col-md-6">
        <label class="form-label fw-semibold text-secondary">Upload Photos</label>
        {{ form_widget(form.uploadPhotos, {'attr': {'class': 'form-control rounded-3 shadow-sm'}}) }}
    </div>

    <div class="col-6">
        <label class="form-label fw-semibold text-secondary">Rating</label>
        {{ form_widget(form.rating, {'attr': {'class': 'form-control rounded-3 shadow-sm', 'placeholder': 'Product Rating'}}) }}
    </div>
</div>

<div class="text-center mt-4">
    <button type="submit" class="btn btn-success px-5 py-2 rounded-pill shadow fw-bold">
        Submit
    </button>
</div>

{{ form_end(form) }}
